include ./layouts/layout
include ./layouts/header

- 
  var works = [
    {
      name: 'Imomtae',
      url:"https://landing.imomtae.com/",
      company: '@Insighter',
      imgUrl: "/assets/imomtae.png",
      service_detail: "Children's Mental Health Platform",
      service_active: true,
      role_describe: "Managing projects and colleagues, collaborating with outsourcing companies as a technical project manager.",
      skills: []
    },
    {
      name: 'Zoomon',
      url:"",
      company: '@Insighter',
      imgUrl: "/assets/zoomon.png",
      service_detail: "Introducing Zoomon, the newly released NFT character on Insighter",
      service_active: false,
      role_describe: "Leading a team in creating websites, managing colleagues, and overseeing projects as a team leader",
      skills: ["typescript", "pug", "tailwindcss"]
    },
    {
      name: 'Dapulja',
      url:"",
      company: '@Insighter',
      imgUrl: "/assets/dapulja.png",
      service_detail: "Quick exam downloading platform for students",
      service_active: false,
      role_describe: "Emphasis on logic and overall project setup",
      skills: ["typescript", "next", "tailwindcss"]
    },
    {
      name: 'Watcher',
      url:"",
      company: '@Insighter',
      imgUrl: "/assets/watcher.PNG",
      service_detail: "Employee Attendance Management System",
      role_describe: "Emphasis on logic", 
      service_active: false,
      skills: ["svelte", "tailwindcss"]
    },
    {
      name: 'Portfolio',
      url:"/index.html",
      company: '@Personal',
      imgUrl: "/assets/portfolio.png",
      service_detail: "Introducing myself",
      service_active: true,
      role_describe: "Emphasis on framework, css",
      skills: ["pug", "tailwindcss"]
    },
    {
      name: 'Casetify',
      url:'/assets/works/Casetify/index.html',
      company: '@Casetify',
      imgUrl: "/assets/casetify.png",
      service_detail: "Practice site by Casetify's design and functionality with responsive web design",
      service_active: true,
      role_describe: "Emphasis on js, css, html",
      skills: ["javascript", "css", "html"]
    },
    {
      name: 'Todolist',
      url:'/assets/works/Todolist/index.html',
      company: '@Personal',
      imgUrl: "/assets/todolist.png",
      service_detail: "Making todolist page without responsive web design",
      service_active: true,
      role_describe: "Emphasis on js, css, html",
      skills: ["javascript", "css", "html"]
    },
    {
      name: 'Microsoft',
      url:'/assets/works/Microsoft/index.html',
      company: '@Microsoft',
      imgUrl: "/assets/microsoft.png",
      service_detail: "Practice site by Microsoft's design and functionality with responsive web design",
      service_active: true,
      role_describe: "Emphasis on js, css, html",
      skills: ["javascript", "css", "html"]
    },
    {
      name: 'Kakaobank',
      url:'/assets/works/Kakaobank/index.html',
      company: '@Kakaobank',
      imgUrl: "/assets/kakaobank.png",
      service_detail: "Practice site by Kakaobank's design and functionality without responsive web design.",
      service_active: true,
      role_describe: "Emphasis on js, css, html",
      skills: ["javascript", "css", "html"]
    },
    {
      name: 'Huge',
      url:'/assets/works/Huge/index.html',
      company: '@Huge',
      imgUrl: "/assets/huge.png",
      service_detail: "Practice site by Huge's design and functionality.",
      service_active: true,
      role_describe: "Emphasis on js, css, html",
      skills: ["javascript", "css", "html"]
    },

  ]

block headScript
  each work in works
    link(rel="preload" as="image" href=work.imgUrl)

block content
  +header(true, "works")
  main.container.mx-auto.my-2.p-4
    ul.grid.grid-cols-2.gap-3(class="md:grid-cols-2 lg:grid-cols-3")
      for work in works
        li.flex.flex-wrap.flex-col.bg-secondary.rounded-lg.border-2.border-slate-200.overflow-hidden
          div
            if work.service_active
              a.block.w-full.h-24(href=work.url target='_blank' class="md:h-40 lg:h-48")
                img.w-full.h-full.object-cover(src=work.imgUrl class=work.service_active ? 'grayscale-0' : 'grayscale')
            else
              div.w-full.h-24(class="md:h-40 lg:h-48")
                img.w-full.h-full.object-cover(src=work.imgUrl class=work.service_active ? 'grayscale-0' : 'grayscale')
          div.p-2
            h2.title.text-xl=work.name
            p.flex.grow.text-xs.leading-4(class="min-h-[4rem]")=work.service_detail
            p.flex.grow.text-xs.leading-4.my-1.p-2.italic.text-primary.underline.decoration-solid(class="min-h-[4rem]")=`"${work.role_describe}"`
            div.h-14(class="md:h-8")
              div.flex.flex-wrap.gap-1
                for skill in work.skills 
                  span(class="border-emerald-400 border rounded-xl text-emerald-600 text-xs font-medium me-2 px-2.5 py-0.5 rounded")=skill
            div.flex.flex-row-reverse.text-gray-500
              span.text-xs=work.company


