include ./layouts/layout
include ./layouts/header

//- TODO main 여백 맞추기
//- TODO 이미지가 백그라운드로 들어가서 어떤 이미지가 들어가도 사이즈가 동일하게끔
//- TODO 배포 

- 
  var works = [
    {
      name: 'Dapulja',
      company: '@Insighter',
      src: "/assets/dapulja.svg",
      desc: "Quick downloading platform for students",
      skills: ["typescript", "nextjs"]
    },
    {
      name: 'Zoomon',
      company: '@Insighter',
      src: "/assets/zoomon.svg",
      desc: "Introducing Zoomon, the newly released NFT character on Insighter",
      skills: ["pug"]
    },
    {
      name: 'Watcher',
      company: '@Insighter',
      src: "/assets/watcher.PNG",
      desc: "Employee Attendance Management System",
      skills: ["svelte"]
    },
    {
      name: 'Portfolio',
      company: '@Personal',
      src: "/assets/portfolio.png",
      desc: "Introducing myself",
      skills: ["pug"]
    },
    {
      name: 'Todolist',
      company: '@Personal',
      src: "/assets/todolist.png",
      desc: "Making todolist page",
      skills: ["javascript", "css", "html"]
    },
    {
      name: 'Kakaobank',
      company: '@Kakaobank',
      src: "/assets/kakaobank.png",
      desc: "Practice site by Kakaobank's design and functionality.",
      skills: ["javascript", "css", "html"]
    },
    {
      name: 'Casetify',
      company: '@Casetify',
      src: "/assets/casetify.png",
      desc: "Practice site by Casetify's design and functionality.",
      skills: ["javascript", "css", "html"]
    },
    {
      name: 'Microsoft',
      company: '@Microsoft',
      src: "/assets/microsoft.png",
      desc: "Practice site by Microsoft's design and functionality.",
      skills: ["javascript", "css", "html"]
    },
    {
      name: 'Huge',
      company: '@Huge',
      src: "/assets/huge.png",
      desc: "Practice site by Huge's design and functionality.",
      skills: ["javascript", "css", "html"]
    },

  ]



block content
  +header(true, "works")
  main.container.mx-auto.my-2.p-4
    ul.grid.gap-3.grid-cols-1.grid-rows-3(class="md:grid-cols-2 lg:grid-cols-3")
      for work in works
        li.grid.bg-secondary.rounded-lg.border-2.border-slate-200.overflow-hidden(style="grid-auto-rows: minmax(150px, auto)")
          div.overflow-hidden
            - 
              function checkToEnterTheSite(name){
                var demoSites = ["Casetify", "Microsoft", "Kakaobank", "Huge", "Todolist"]
                var result= false;
                demoSites.forEach(demo => {
                  if(demo === name){
                    result = true 
                  }
                })
                return result
              }
            - var canMovingToSite = checkToEnterTheSite(work.name) 
              if canMovingToSite
                a(href=`/assets/works/${work.name}/index.html`)
                  img.w-full.my-0.mx-auto(src=work.src)
                //- div.w-full.h-full.bg-cover.bg-no-repeat.bg-center(href=`/assets/works/${work.name}/index.html` class=`bg-${work.name.toLowerCase()}`)
              else
                img.w-full.my-0.mx-auto(src=work.src)
          div.p-2
            h2.title.text-xl=work.name
            p.text-xs.leading-4=work.desc
            div.text-right.text-gray-500
              span.text-xs=work.company
            div.flex.flex-inline.gap-2
              for skill in work.skills 
                img.h-8(src=`/assets/Icon_${skill}.svg` alt=skill)

    
    
//- block content
  main.container.mx-auto.my-2.p-2
    ul.grid.gap-3.grid-cols-2(class="lg:grid-cols-3")
      li.bg-secondary.rounded-lg.border-2.border-slate-200.overflow-hidden
        div.overflow-hidden
          img(src="/assets/dapulja.svg")
        div
          h2 Dapulja
          p Quick downloading platform for students
          span @Insighter
          div.flex.flex-inline.gap-2
            div.w-8.h-8.rounded-full.bg-typescript.bg-contain.bg-no-repeat.bg-center
            div.w-8.h-8.rounded-full.bg-next.bg-contain.bg-no-repeat.bg-center
      li.bg-secondary.rounded-lg.border-2.border-slate-200.overflow-hidden(class="h-80")
        div.h-44.overflow-hidden
          img(src="/assets/zoomon.svg")
        div
          h2 Zoomon
          p Quick downloading platform for students
          span @Insighter
          div.flex.flex-inline.gap-2
            div.w-8.h-8.rounded-full.bg-pug.bg-contain.bg-no-repeat.bg-center
      li.bg-secondary.rounded-lg.border-2.border-slate-200.overflow-hidden(class="h-80")
        div.h-44.overflow-hidden
          img(src="/assets/watcher.png")
        div
          h2 watcher
          p Quick downloading platform for students
          span @Insighter
          div.flex.flex-inline.gap-2
            div.w-8.h-8.rounded-full.bg-svelte.bg-contain.bg-no-repeat.bg-center
      li.h-96.bg-amber-900.rounded-md 03
      li.h-96.bg-amber-900.rounded-md 04
      li.h-96.bg-amber-900.rounded-md 05
      li.h-96.bg-amber-900.rounded-md 06

    
    